/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> 

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input_tsv = "test/data/test.tsv"  // Replace with the path to your input BAM file
    outdir = "test/results"  // Replace with the desired output directory
    ref_fasta19           = "/mnt/solexa/Genomes/hg19/whole_genome.fa"
    ref_fasta37           = "/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa"
    ref_fai19             = "/mnt/solexa/Genomes/hg19/whole_genome.fa.fai"
    ref_fai37             = "/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa.fai"
    chain                 = "/mnt/sequencedb/HGDP/ngs.sanger.ac.uk/production/hgdp/hgdp_wgs.20190516/lifted_over_hg19/hg38ToHg19.over.chain.gz"
    accesibility_bed      = "/mnt/archgen/Americas_capture/analyses/sarek/results_augs28_23/hs37d5_20141020.strict_mask.whole_genome.bed"
    chromosomes           = "/mnt/archgen/Americas_capture/analyses/sarek/results_augs28_23/chromosomes_names.txt"
}